{% extends 'base.html' %}
{% load urlify %}

{% block title %}{{ instance.title }} | {{ block.super }}{% endblock %}

{% block style %}
	h1 {
		color: #777;
    }
{% endblock %}

{% block content %}
<div class="col-md-6 col-sm-offset-3">

	{% if instance.image %}
	<img src="{{ instance.image.url }}" class="img-responsive">
	{% endif %}
	
	<h1>{{ title }} <small>
	
	{% if instance.draft %}
	<span style="color:red;">Draft</span>
	{% endif %}
	
	{{ instance.publish }}
	</small></h1>
	{% if instance.user.get_full_name %}
	<p>Author: {{ instance.user.get_full_name }}</p>
	{% endif %}
	
	<p><div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div></p>
	<hr>
	
<!-- 	<p>
	<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
Facebook
</a>
	<a href="https://twitter.com/home?status={{ instance.content|truncatechars:80|urlify }}%20{{ request.build_absolute_uri }}">
Twitter
</a>
	<a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>Google+</a>
	<a href="https://www.linkedin.com/shareArticle?mini=true&url=http://swiftforentrepreneurs.com/&title={{ instance.title }}&summary={{ share_string }} &source={{ request.build_absolute_uri }}">
Linkedin
</a>
	</p> -->
<div class="row">
	<div class="col-sm-12">
		<!-- {{ instance.title }}<br> -->
		{{ instance.content|linebreaks }}
		
		<hr>
		<br>

		<div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5">
		</div>

	</div>
</div>

</div>
{% endblock content %}